package handler

import "net/http"

func Create{{.Name}}(w http.ResponseWriter, r *http.Request) {}
func Get{{.Name}}(w http.ResponseWriter, r *http.Request) {}
func Update{{.Name}}(w http.ResponseWriter, r *http.Request) {}
func Delete{{.Name}}(w http.ResponseWriter, r *http.Request) {}