package service

import (
    "context"
    "github.com/{{.ProjectName}}/modules/{{.Name}}/model"
)

type {{.Name}}Service struct {
    usecase {{.Name}}UseCase
}

func New{{.Name}}Service(usecase {{.Name}}UseCase) *{{.Name}}Service {
    return &{{.Name}}Service{
        usecase: usecase,
    }
}