package repository

// TODO: implement repository logic
type {{.Name}}Repository interface {
    Create({{.Name}} interface{}) error
    Get(id string) (interface{}, error)
    Update({{.Name}} interface{}) error
    Delete(id string) error
}